<div class="login-container">
    <div class="login-card">
      <h1 class="brand-title">PonteGuapa</h1>
      <p class="brand-subtitle">Bienvenida a tu salón de belleza</p>
  
      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" placeholder="tu@email.com">
      </div>
  
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="pass" placeholder="........">
      </div>
  
      <div class="extra-links">
        <span (click)="irAOlvide()">¿Olvidaste tu contraseña?</span>
      </div>
  
      <button class="btn-login" (click)="iniciarSesion()">Iniciar Sesión</button>
  
      <p class="footer-text">
        ¿No tienes cuenta? <span class="highlight" (click)="irARegistro()">Regístrate</span>
      </p>
    </div>
  </div>